.grid {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
  
    grid-row-gap: 15px;
    grid-column-gap: 25px;
    margin: 0 auto;
    outline: 0;
    margin-bottom: 20px;
}
.grid button {
    background: none;
    border-radius: 50%;
    border:none;
    font-size: 1.7em;
    color: #fff;
    width:55px;
    height:55px;
    outline: 0;
    font-family: inherit;
  
    cursor: pointer;

}
.grid button:nth-child(20) {
    background-color: #fff;
    color: rgb(40,82,142);
}
.grid button:active {
    animation: press 0.2s 1 linear;
} 

@media (max-width: 424px) {
    .grid {
        grid-row-gap:35px;
        grid-column-gap: 35px;
    }
    .grid button {
        font-size: 1.7em;
    }
  }