.calculator-container{
    max-width: 370px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top:10px;
    padding: 20px;
    outline: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    background: #4e54c8;  
    background: linear-gradient(to right, #28518E, #3264AF);
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.expression {
    margin-bottom: 15px;
}

.expression, .result {
    height: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 1px;
    text-align: right;
    
    
}
.display {
    width:80%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    margin: 0 auto;
    padding-top: 45px;
    margin-bottom: 25px;
  
}

.result {
    font-size: 2em;
    margin-bottom:35px;
}

@keyframes press {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.92);
    }
    to {
      transform: scale(1);
    }
  }

.grid button:hover {
    background:rgba(255, 255, 255, 0.1)
}
@media (max-width: 424px) {

    .calculator-container {
      padding: 0;
      margin: 0;
      max-width:100%;
      
    }
    .calculator {
        height: 100vh;
        border-radius: 0;
        margin: 0;
    }
   .result {
       font-size: 2em;

    }
    
  }