@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body {
    margin:0;
    padding: 0;
    background-color: rgb(254, 132, 134);
    font-family: 'PT Sans', sans-serif;
    -webkit-text-size-adjust: none;
    zoom: 1;
    touch-action: manipulation;
}
